#bg {
    background-image: url( 'bg.svg' );
}

img.b-w {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:         grayscale(100%);
}

img.me {
    max-width:  130px;
    max-height: 130px;
}

.cover-container {
    max-width: 40em;
}

.btn {
    font-weight: 700!important;
}

.hide {
    display:none;
    color: #0d6efd;
}

.text-primary {
    color: #03A9F4!important;;
}